* {
	padding: 0;
	margin: 0;
	outline: 0;
}
body {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	background:url(images/bg.jpg) ;
	height: 100%;
	text-align: left;
}
.cl {
	font-size: 0;
	line-height: 0;
	height: 0;
	clear: both;
}
a img {
	border: 0;
}


a {
	color: #9fea00;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
}
.left {
	float: left;
	display: inline;
}
.right {
	float: right;
	display: inline;
}
.notext {
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}
.center {
	display: block;
	margin: 0 auto;
}
.shell {
	margin: 0 auto;
	width: 990px;
}
#header {
	background:url(images/фон.jpg) ;
	padding: 20px 0;
}
#header .shell {
	width: 990px;
	background: url(images/SHAPKA.png);
	height: 140px;
	border-radius: 15px;
	border: 1px solid #8E2A2A;
}
.matchPast{
	font-size: 12px;
	height: 104px;
	top: 15px;
	display: inline-block;
	z-index: 1;
	background:-webkit-linear-gradient(#DA251D, #F5BD1E, #AC9482);
	border-radius: 5px;
	width: 316px;
	left: 687px;
	opacity: 0.8;
	margin-top: 20px;
	margin-right: 20px;
	float: right;
}
h3 {
	position: relative;
	border-radius: 4px 4px 0 0;
	font-size: 14px;
	font-weight: normal;
	height: 24px;
	padding: 0 0 0 7px;
	margin: 0 0 3px 0;
	background: linear-gradient(to bottom, #d0d0d0 0%,#e2e2e2 45%,#e0e0e0 100%);
	border: 1px solid #e3e0de;
	color: #1a1a1a;
	line-height: 24px;
}
.probel{
	padding-left:3px;
}
.clearFix{
	font-size: 12px;
	list-style: none;
	padding: 0;
	margin: 0 5px;
}
.clearFix2{
	font-size: 12px;
	list-style: none;
	padding: 0;
	margin: 0 5px;
}
li {
	font-size: 12px;
	list-style: none;
	float: left;
	width: 100px;
	margin-left: 0;
}
ul li a{
	font-size: 12px;
	list-style: none;
	text-decoration: none;
	color: #1a1a1a;
	display: block;
	height: 70px;
	border-radius: 5px 5px 5px 0;
}
ul li a:hover{
   color:#8B2300;
}
ul li a h4{
	list-style: none;
	margin: 0;
	height: 21px;
	padding: 0 0 0 7px;
	font-size: 11.5px;
	line-height: 21px;
	color: white;
	border-bottom: 1px solid #e4e4e4;
	border-radius: 4px 4px 0 0;
	background:-webkit-linear-gradient(black,#6F6254, #6F6254);
}

.teamHome{
	list-style: none;
	margin: 0;
	height: 24px;
	padding: 0 0 0 7px;
	position: relative;
	font-size: 11px;
	line-height: 23px;
	background: linear-gradient(to bottom, #d0d0d0 0%,#e2e2e2 45%,#e0e0e0 100%);
}
.teamHome2{
	list-style: none;
	margin: 0;
	height: 24px;
	padding: 0 0 0 7px;
	position: relative;
	font-size: 11px;
	line-height: 23px;
	background: linear-gradient(to bottom, #d0d0d0 0%,#e2e2e2 45%,#e0e0e0 100%);
}
.spans {
	list-style: none;
	position: absolute;
	right: 7px;
	top: 4px;
	width: 16px;
	height: 16px;
	background-color: #000;
	border-radius: 3px;
	font-size: 11px;
	line-height: 14px;
	text-align: center;
	color: #fff;
}
.spansW {
	list-style: none;
	position: absolute;
	right: 7px;
	top: 4px;
	width: 16px;
	height: 16px;
	background-color: #000;
	border-radius: 3px;
	font-size: 11px;
	line-height: 14px;
	text-align: center;
	color: lime;
}
.teamAway{
	list-style: none;
	margin: 0;
	height: 24px;
	padding: 0 0 0 7px;
	position: relative;
	font-size: 11px;
	line-height: 23px;
	background: linear-gradient(to bottom, #d0d0d0 0%,#dfdfdf 46%,#dfdfdf 100%);
}
.teamAway2{
	list-style: none;
	margin: 0;
	height: 24px;
	padding: 0 0 0 7px;
	position: relative;
	font-size: 11px;
	line-height: 23px;
	background: linear-gradient(to bottom, #d0d0d0 0%,#dfdfdf 46%,#dfdfdf 100%);
}
#navigation {
	background: linear-gradient(to bottom, #d0d0d0 0%,#dfdfdf 58%,#30538B 100%);
	height: 50px;
}
#navigation ul {
	list-style-type: none;
	height: 50px;
}
#navigation ul li {
    transition: 0.3s all;
    float: left;
    display: inline;
	height: 50px;
}
#navigation ul li:hover {
	transition: 0.6s all;
	background: #101820;
	cursor: pointer;
	text-decoration: none;
}
#navigation ul li a {
	color: #D40000;
	font-size: 14.5px;
	padding-top: 14.5px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	height: 34px;
	float: left;
}
.kursor{
	padding-right:28px;
}
.sing-up {
	width: 135px;
}
#navigation ul li a:hover {
	color:white;

}
#heading {
	height: 340px;
	background: url(images/fon4ik.jpg) center top no-repeat;
	background-size: cover;
}
#heading .shell {
	position: relative;
}
#heading-cnt {
	padding-top:10px;
}
.redGradient {
	margin: 0;
	position: relative;
	height: 30px;
	padding: 0 0 0 14px;
	overflow: hidden;
	font-size: 14px;
	color: #fff;
	width:24%;
	font-weight: normal;
	line-height: 30px;
	text-shadow: #000 0 1px 0;
	border-radius: 4px 4px 0 0;
	background: linear-gradient(to bottom, #ea5b4b 0%,#ff6654 17%,#ef5e4d 31%,#cb4b3e 52%,#9d332a 55%,#9d332a 100%);
}
.cup {
	margin-top:0;
	width: 24%;
}
.cup tr .position {
	border-collapse: collapse;
	height: 23px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #3c444b;
	vertical-align: middle;
	background: linear-gradient(to bottom, #e5e6e9 0%,#e5e6e9 45%,#cdd0d4 50%,#cdd0d4 100%);
	padding: 0 5px 0 11px;
	width: 19px;
}
.cup tr .team{
	border-collapse: collapse;
	height: 23px;
	font-size: 12px;
	font-weight: normal;
	color: #38414A;
	vertical-align: middle;
	background: linear-gradient(to bottom, #e5e6e9 0%,#e5e6e9 45%,#cdd0d4 50%,#cdd0d4 100%);
	padding: 0 5px 0 10px;
	text-align: left;
}
.cup tr .game{
	border-collapse: collapse;
	height: 23px;
	font-size: 12px;
	font-weight: normal;
	color: #38414A;
	vertical-align: middle;
	background: linear-gradient(to bottom, #e5e6e9 0%,#e5e6e9 45%,#cdd0d4 50%,#cdd0d4 100%);
	padding: 0px 5px 0 10px;
	width: 49px;
	text-align: center;
}
.cup tr .points{
	border-collapse: collapse;
	height: 23px;
	font-size: 12px;
	font-weight: normal;
	color: #38414A;
	vertical-align: middle;
	background: linear-gradient(to bottom, #e5e6e9 0%,#e5e6e9 45%,#cdd0d4 50%,#cdd0d4 100%);
	padding: 0 5px 0 0;
	width: 48px;
	text-align: center;
}
.dark{
	color:#3E1D1A;
}
.cup tr td.position{
	border-collapse: collapse;
	height: 24px;
	text-align: left;
	font-size: 11px;
	color: #38414A;
	vertical-align: middle;
	background: linear-gradient(to bottom, #fbfbfb 0%,#fbfbfb 48%,#f2f3f4 65%,#d9dbde 100%);
	width: 19px;
	padding: 0 5px 0 10px;
	border-left: 2px solid #ced1d3;
}
.cup tr td.team{
	border-collapse: collapse;
	height: 24px;
	font-size: 11px;
	color: #38414A;
	vertical-align: middle;
	background: linear-gradient(to bottom, #fbfbfb 0%,#fbfbfb 48%,#f2f3f4 65%,#d9dbde 100%);
	text-align: left;
	padding: 0 5px 0 10px;
}
.cup tr td.game{
	border-collapse: collapse;
	height: 24px;
	font-size: 11px;
	color: #38414A;
	vertical-align: middle;
	background: linear-gradient(to bottom, #fbfbfb 0%,#fbfbfb 48%,#f2f3f4 65%,#d9dbde 100%);
	text-align: center;
	width: 45px;
	padding: 0 5px 0 10px;
}
.cup tr td.points{
	border-collapse: collapse;
	height: 24px;
	font-size: 11px;
	color: #38414A;
	vertical-align: middle;
	background: linear-gradient(to bottom, #fbfbfb 0%,#fbfbfb 48%,#f2f3f4 65%,#d9dbde 100%);
	text-align: center;
	width: 46px;
	padding: 0 5px 0 10px;
	border-right: 1px solid #ced1d3;
}
#side-nav ul {
	list-style-type: none;
	width: 205px;
	padding-top: 9px;
	padding-left: 20px;
}
#side-nav ul li {
	float: left;
	display: block;
	width: 205px;
	padding-bottom:5px;
}
#side-nav ul li a {
	width: 195px;
	height: 18px;
	display: block;
	padding-left: 10px;
	padding-top: 4px;
	text-transform: uppercase;
	color: #636363;
	font-size: 11px;
	position: relative;
}
#side-nav ul li .link {
	background: url(images/side-nav.png) no-repeat 0 0;
	width: 205px;
	height: 22px;
}
.w-auto {
	width: auto;
}
#side-nav ul li.active a {
	color: #77912b;
}
#side-nav ul li.active a:hover {
	text-decoration: none;
}
#heading-box {
	position: absolute;
    top: 10px;
    right: 0;
}
#heading-box-cnt {
	background: url(images/heading-box.png) no-repeat 0 0;
	width: 709px;
	height: 316px;
	padding-top: 5px;
	padding-left: 4px;
}
.featured-main {
	position: relative;
	width: 440px;
	float: left;
	margin-top:1px;
}
.featured-main img {
	border: 1px solid #000;
}
.featured-main-details {
	position: absolute;
	left: 0;
	top: 260px;
}
.featured-main-details p{
	padding-left:370px;
}
.featured-main-details-cnt {
	background: url(images/featured-main-details.png) repeat 0 0;
	width: 425px;
	height: 44px;
	padding-left: 10px;
	padding-top: 7px;
	padding-right: 5px;
}
.featured-main-details h4, .featured-main-details h4 a {
	font-size: 13px;
	color: #9fea00;
}
.featured-main-details p {
	color: #c9c9c9;
	font-size: 10px;
}
.featured-side {
	width: 260px;
	padding-top: 10px;
	padding-left: 6px;
	float: left;
}
.featured-side-item:hover{
   opacity:100%;
}
.featured-side-item img {
	border: 1px solid #000;
	margin-right: 3px;
}
.featured-side-item h4, .featured-side-item h4 a {
	font-size: 14px;
	color: #9fea00;
	padding-top: 4px;
}
.featured-side-item p {
	color: #c9c9c9;
	font-size: 11px;
}
#main {
	padding-top: 8px;
	padding-bottom: 45px;
}
#main h2 {
	color:#D40000;
	font-size: 16px;
	text-transform: uppercase;
	padding-bottom: 2px;
}
#sidebar {
	padding-top: 14px;
	width: 197px;
	padding-right: 10px;
	float: left;
	color:black;
	font-weight:bold;
}
#sidebar ul {
	list-style-type: none;
	padding-bottom: 7px;
}
#sidebar ul li {
	background: url(images/news-divider.gif) repeat-x 0 bottom;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right:100px;
}
#sidebar ul li p{
	white-space: pre;
	font-size:11px;
}
#sidebar ul li small.date {
	color: #D40000;
	font-size: 10px;
	font-weight:bold 
}
#content {
	width: 710px;
	float: right;
}
.container {
	width: 990px;
	margin: 0 auto;
}
.grey-box {
    background: url(images/grey-box.gif) 0 0;
    width: 187px;
    background-size: cover;
    height: 244px;
    float: left;
    padding: 10px 20px 20px 10px;
    margin: 11px;
}
.name-liga {
	padding: 10px 30px;
	background: #3e3e3e;
	color: #fff;
	width: 130px;
	margin-top: 30px;

}
.last {
	padding-right: 10px;
}
.grey-box a {
	font-size: 11px;
	color: maroon;
	text-transform: uppercase;
	padding-bottom: 12px;
}
.grey-box img {
   background: gray;
	border: 1px solid #cfcfcf;
	padding: 1px;
	margin-bottom: 6px;
	margin-top:5px;
}
.grey-box p {
   color: #1f1f1f;
	width: 205px;
}
.grey-box p span {
   padding-bottom: 6px;
	display: block;
   color:black;
}
a.button1,a.button2,a.button3 {
	background: url(images/button.png) no-repeat 0 0;
	width: 81px;
	height: 16px;
	display: block;
	color: #373737;
	font-size: 10px;
	padding-top: 3px;
	text-align: center;
	text-transform: uppercase;
	text-decoration:underline;
}
a.button1:hover {
   text-decoration:none;
}
a.button2:hover {
   text-decoration:none;
}
.button3:hover {
   text-decoration:none;
}
.video-box {
	width: 690px;
	height: 191px;
	background: url(images/video-box.gif) no-repeat 0 0;
	padding-left: 10px;
	padding-top: 17px;
	padding-right: 13px;
}
.video-box h2 {
	padding-bottom: 10px;
}
.video-item-box {
	background: url(images/video-item-box.gif) no-repeat 0 0;
	width: 332px;
	height: 60px;
	float: left;
	padding-top: 8px;
	padding-left: 6px;
	padding-right: 17px;
	padding-bottom: 15px;
}
.video-item-box img {
	border: 3px solid #333;
	margin-right: 7px;
}
.video-item-box p {
	color: #f9f9f9;
}
.second {
	padding-right: 5px ;
	background: url(images/second.gif) no-repeat 0 0;
	width: 324px;
}
a.watch-now {
	text-decoration: underline;
	text-transform: uppercase;
}
a.watch-now:hover {
	text-decoration: none;
}
#footer {
	padding-bottom: 50px;
	width: 930px;
	margin: 0 auto;
	padding-right: 12px;
	font-size: 10px;
}
#footer .shell {
	background: url(images/news-divider.gif) repeat-x 0 0;
	padding-top: 10px;
	margin: 0 auto;
}
#footer a {
	color: #fff;
	margin-right: 10px;
	text-decoration: underline;
}
#footer a:hover {
	text-decoration: none;
}

.cup-table {
	width: 100%;
}

table {
	margin: 30px 0;
}

.mass {
	width: 100%;
	margin: 10px 0;
}

#navigation ul li:hover a {
	color: #fff;
	text-decoration: none;
} 

.contact-p {
	font-size: 16px;
	color: #000000;
	margin-top: 20px;
}

.left-column, .right-column {
	display: inline-block;
}
.input {
	font-size: 18px;
	padding: 10px 20px;
	display: block;
	width: 100%;
}


.big-inp {
	font-size: 14px;
	color: #000000;
	height: 200px;
	display: block;
	width: 100%;
	padding: 15px;
}


.overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	display: none;
}

.popup {
	position: absolute;
	width: 300px;
	height: 180px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	background-color: #FFF;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #000;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #000;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}

.form-button {
	width: 100%;
    margin-top: 15px;
    padding: 17px 0;
}